[submodule "puppet/environments/development/modules/puppetdb"]
	path = puppet/environments/development/modules/puppetdb
	url = git@github.com:puppetlabs/puppetlabs-puppetdb.git
[submodule "puppet/environments/development/modules/puppet"]
	path = puppet/environments/development/modules/puppet
	url = git@github.com:stephenrjohnson/puppetmodule.git
[submodule "puppet/environments/development/modules/apache"]
	path = puppet/environments/development/modules/apache
	url = git@github.com:puppetlabs/puppetlabs-apache.git
[submodule "puppet/environments/development/modules/stdlib"]
	path = puppet/environments/development/modules/stdlib
	url = git@github.com:puppetlabs/puppetlabs-stdlib.git
[submodule "puppet/environments/production/modules/apache"]
	path = puppet/environments/production/modules/apache
	url = git@github.com:puppetlabs/puppetlabs-apache.git
[submodule "puppet/environments/production/modules/concat"]
	path = puppet/environments/production/modules/concat
	url = git@github.com:puppetlabs/puppetlabs-concat.git
[submodule "puppet/environments/production/modules/concat_build"]
	path = puppet/environments/production/modules/concat_build
	url = git@github.com:theforeman/puppet-concat.git
[submodule "puppet/environments/production/modules/foreman"]
	path = puppet/environments/production/modules/foreman
	url = git@github.com:theforeman/puppet-foreman.git
[submodule "puppet/environments/production/modules/inifile"]
	path = puppet/environments/production/modules/inifile
	url = git@github.com:puppetlabs/puppetlabs-inifile.git
[submodule "puppet/environments/production/modules/ntp"]
	path = puppet/environments/production/modules/ntp
	url = git@github.com:puppetlabs/puppetlabs-ntp.git
[submodule "puppet/environments/production/modules/postgresql"]
	path = puppet/environments/production/modules/postgresql
	url = git@github.com:puppetlabs/puppetlabs-postgresql.git
[submodule "puppet/environments/production/modules/puppet"]
	path = puppet/environments/production/modules/puppet
	url = git@github.com:theforeman/puppet-puppet.git
[submodule "puppet/environments/production/modules/puppetdb"]
	path = puppet/environments/production/modules/puppetdb
	url = git@github.com:puppetlabs/puppetlabs-puppetdb.git
[submodule "puppet/environments/production/modules/stdlib"]
	path = puppet/environments/production/modules/stdlib
	url = git@github.com:puppetlabs/puppetlabs-stdlib.git
[submodule "puppet/environments/production/modules/scl"]
	path = puppet/environments/production/modules/scl
	url = git@github.com:treydock/puppet-scl.git
